<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <title>Book List</title>
    </head>
    <body>

        <%- include('header') %>
        <br>
        <form action='/list' method="post">
            <div class="form-group"></div>
            <label style="padding: 0px 120px;">Add new book</label>
            <input class="input is-rounded" type="text" placeholder="Add a book name" style="width: 50%; border-color: blue; text-align: center;">
            <div style="text-align:center; padding-top: 30px;">
                <button type="submit" class="button is-success is-light">Success</button>
            </div>
        </form>
    </body>
</html>